$medium-font-size: x-large;
$primary-color: black;

.referencia{
    font-size: $medium-font-size;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color:$primary-color;
}