$display-value: flex;
$flex-direction-column: column;
$justify-content-center: center;
$large-width: 100%;

@mixin align-items-center {
    align-items: center;
  }

  %button {
    height: 368px;
    padding-left: 500px;
    padding-top: 88px;
  }

  $tertiary-color: beige;

.titulo {
    display: $display-value;
    flex-direction: $flex-direction-column;
    @include align-items-center;
    justify-content: $justify-content-center;
    width: $large-width;
    @extend %button;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $tertiary-color;
    font-size: xx-large;
}
.titulo {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
