$display-value: flex;
$flex-direction-column: column;
$justify-content-center: center;
$large-width: 100%;

@mixin align-items-center {
    align-items: center;
  }

  %button {
    height: 368px;
    padding-left: 500px;
    padding-top: 88px;
  }

  $tertiary-color: beige;

.titulo {
    display: $display-value;
    flex-direction: $flex-direction-column;
    @include align-items-center;
    justify-content: $justify-content-center;
    width: $large-width;
    @extend %button;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $tertiary-color;
    font-size: xx-large;
}

@media (max-width:576px) {
.titulo{
  display: $display-value;
  justify-content: $justify-content-center;
  align-items: end;
  padding-left: 0px;

}

}