$display-value: flex;
$flex-direction-row: row;
$flex-direction-column: column;
$primary-color: black;
$secondary-color: white;
$tertiary-color: beige;
$large-width: 100%;
$justify-content-flex-end: flex-end;
$justify-content-center: center;
$justify-content-space-evenly: space-evenly;
$justify-content-end: end;
$justify-content-space-around: space-around;
$small-height: auto;
$medium-font-size: x-large;