@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbit&display=swap');

$display-value: flex;
$flex-direction-row: row;
$flex-direction-column: column;
$primary-color: black;
$secondary-color: white;
$tertiary-color: beige;
$large-width: 100%;
$justify-content-flex-end: flex-end;
$justify-content-center: center;
$justify-content-space-evenly: space-evenly;
$justify-content-end: end;
$justify-content-space-around: space-around;
$small-height: auto;
$medium-font-size: x-large;

@mixin text-center {
    text-align: center;
  }
@mixin align-items-center {
    align-items: center;
  }

  %button {
    height: 368px;
    padding-left: 500px;
    padding-top: 88px;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.encabezadoindex {
    display: $display-value;
    flex-direction: $flex-direction-column;
    width: $large-width;
    height: 895px;
    background-image: url(../img/16432291056672.jpeg);
    background-size: cover;
    background-position: center;
}

.redes {
    display: $display-value;
    flex-direction: $flex-direction-row;
    justify-content: $justify-content-end;
    list-style-type: none;
}

.logo {
    height: 30px;
}

.titulo {
    display: $display-value;
    flex-direction: $flex-direction-column;
    @include align-items-center;
    justify-content: $justify-content-center;
    width: $large-width;
    @extend %button;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $tertiary-color;
    font-size: xx-large;
}

.footer {
    display: $display-value;
    flex-direction: $flex-direction-row;
    @include text-center;
    max-width: $large-width;
    height: $small-height;
    background-color: $secondary-color;
    border-radius: 10px;
}

.clubes{
    display: $display-value;
    flex-direction: $flex-direction-row;
    width: $large-width;
    height: $small-height;
    list-style-type: none;
    justify-content: $justify-content-space-evenly;
    @include align-items-center;
}

.referencia{
    font-size: $medium-font-size;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color:$primary-color;
}

.encabezadoPag{
    display: $display-value;
    flex-direction: $flex-direction-row;
    justify-content: $justify-content-flex-end;
    background-color: $primary-color;

}
.botonInicio{
    background-color: $primary-color;
}
.botoninicio{
    font-size: $medium-font-size;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 2px;
    color: $primary-color;
    text-decoration: none;
}
.infoYfoto{
    display: $display-value;
    flex-direction: $flex-direction-row;
    @include align-items-center;
    justify-content: $justify-content-space-around;
    width: $large-width;
    background-color: $primary-color;
    height: $small-height;
    padding-top: 12%;
}

.infoCopa{
    display: $display-value;
    flex-direction: $flex-direction-column;
    list-style-type: none;
    color: $secondary-color;
    padding-bottom: 200px;
}

.club{
    @include text-center;
    font-size: $medium-font-size;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 25px;
}

.trofeos{
    @include text-center;
    font-size: $medium-font-size;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 15px;

}
.foto{
    display: $display-value;
    justify-content: $justify-content-flex-end;
    align-self: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 570px;
}
.resumen{
    display: $display-value;
    justify-content: $justify-content-center;
    @include align-items-center;
    padding: 5%;
    width: $large-width;
}
.texto{
    @include text-center;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    width: 70%;
}

@media (max-width:576px) {
    .encabezadoindex{
        display: $display-value;
        width: $large-width;
        background-image: url(../img/16432291056672.jpeg);
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }
    .titulo{
        display: $display-value;
        justify-content: $justify-content-center;
        align-items: end;
        padding-left: 0px;


    }
    .infoYfoto{
        flex-direction: $flex-direction-column;
        justify-content: $justify-content-flex-end;
        height: $small-height;
    }

    .foto{
        max-width: $large-width;
    }
    .clubes{
        flex-direction: $flex-direction-column;
        padding-bottom: 5px;
        background-color: $secondary-color;
        padding-top: 8px;
    }

    .referencia{
        font-size: 25px;
        color: $primary-color;
    }

    .infoYJpg{
        flex-direction: $flex-direction-column;
    }

    .resumen{
        flex-direction: $flex-direction-column;
        width:$large-width;
    }
    .texto{
        padding-bottom: 8%;
    }
    .video{
        max-width: $large-width;
    }

}
