@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.encabezadoindex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 895px;
    background-image: url(../img/16432291056672.jpeg);
    background-size: cover;
    background-position: center;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
}

.logo {
    height: 30px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 368px;
    padding-left: 500px;
    padding-top: 88px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: beige;
    font-size: xx-large;
}

.footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    max-width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
}

.clubes{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}

.referencia{
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color:black;
}

.encabezadoPag{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;

}
.botonInicio{
    background-color: black;
}
.botoninicio{
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    border-radius: 10px;
    padding: 2px;
    color: black;
    text-decoration: none;
}
.infoYfoto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    height: auto;
    padding-top: 12%;
}

.infoCopa{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: white;
    padding-bottom: 200px;
}

.club{
    text-align: center;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 25px;
}

.trofeos{
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 15px;

}
.foto{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 570px;
}



.resumen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 100%;
}
.texto{
    text-align: center;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    width: 70%;
}

@media (min-width:0px) and (max-width:576px) {
    .encabezadoindex{
        display: flex;
        width: 100%;
        background-image: url(../img/16432291056672.jpeg);
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }
    .titulo{
        display: flex;
        justify-content: center;
        align-items: end;
        text-align: center;
        padding-left: 0px;


    }
    .infoYfoto{
        flex-direction: column;
        justify-content: flex-end;
        height: auto;
    }
    .infoCopa{
    }
    .foto{
        max-width: 100%;
    }
    .clubes{
        flex-direction: column;
        padding-bottom: 5px;
        background-color: white;
        padding-top: 8px;
    }

    .referencia{
        font-size: 25px;
        color: black;
    }

    .infoYJpg{
        flex-direction: column;
    }

    .resumen{
        flex-direction: column;
        width: 100%;
    }
    .texto{
        padding-bottom: 8%;
    }
    .video{
        max-width: 100%;
    }

}
