@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbit&display=swap');
@import "encabezadoindex";
@import "redes";
@import "titulo";
@import "clubes";
@import "referencia";
@import "encabezadoPag";
@import "botonInicio";
@import "botondeinicio";
@import "infoyfoto";
@import "infoycopa";
@import "club";
@import "trofeos";
@import "foto";
@import "resumen";
@import "texto";
@import "infoyJPG";
@import "video";
@import "media";
@import "footer";
@import "logo";
@import "formulario";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}